@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-ink: #000000;
  --color-body: #5e5e5e;
  --color-mute: #afafaf;
  --color-hairline-mid: #4b4b4b;
  --color-canvas: #ffffff;
  --color-canvas-soft: #efefef;
  --color-canvas-softer: #f3f3f3;
  --color-surface-pressed: #e2e2e2;
  --color-link: #0000ee;
  --color-on-dark: #ffffff;
  --color-black-elevated: #282828;

  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-pill: 999px;
  --radius-pill-tab: 36px;
  --radius-full: 9999px;

  --spacing-xxs: 4px;
  --spacing-xs: 6px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 20px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;

  --text-display-xxl: 52px;
  --text-display-xxl--line-height: 64px;
  --text-display-xl: 36px;
  --text-display-xl--line-height: 44px;
  --text-display-lg: 32px;
  --text-display-lg--line-height: 40px;
  --text-display-md: 24px;
  --text-display-md--line-height: 32px;
  --text-display-sm: 20px;
  --text-display-sm--line-height: 28px;
  --text-body-lg: 18px;
  --text-body-lg--line-height: 24px;
  --text-body-md: 16px;
  --text-body-md--line-height: 24px;
  --text-body-md-strong: 16px;
  --text-body-md-strong--line-height: 20px;
  --text-body-sm: 14px;
  --text-body-sm--line-height: 20px;
  --text-body-sm-strong: 14px;
  --text-body-sm-strong--line-height: 16px;
  --text-caption: 12px;
  --text-caption--line-height: 20px;
  --text-button-large: 18px;
  --text-button-large--line-height: 24px;
  --text-button-md: 16px;
  --text-button-md--line-height: 20px;

  /* We can configure fonts here using variables from layout.js */
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-canvas);
  color: var(--color-ink);
  font-family: var(--font-sans), system-ui, sans-serif;
}
